# Python-specific
*.pyc
*.pyo
*.pyd
__pycache__/
*.pkl
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
.env

# Database files
*.sqlite3

# IDE and editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# FastAPI-specific
*.db

# Environment files
*.env

# Test coverage reports
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints/
