.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 220px;
    min-height: 92vh;
    background-color: #adb8c3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2px;
    box-sizing: border-box;
    position: relative;
    transition: width 0.3s ease;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
    background-color: #adb8c3;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 1;
}

.menu-icon {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 2px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.actions {
    margin: 0; 
}

.actions li {
    padding: 10px;
    border-bottom: 1px solid #ccc; 
    background-color: #ffffff; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);  
    transition: background-color 0.3s, box-shadow 0.3s; 
    width: 100%;  
    box-sizing: border-box; 
    cursor: pointer;
}

.actions li:hover {
    background-color: #e9ecef; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 768px) {
    .sidebar-container {
        width: 250px;
        height: 100vh;
        position: fixed;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .sidebar-container.open {
        transform: translateX(0);
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle .menu-icon {
        background-color: #fff;
    }
}
