[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-cors = "*"
pycryptodome = "*"

[dev-packages]

[scripts]
frontend = "python -m blockchain"
client = "python -m client"
