# Virtual environment files
*/venv/
venv/
etc/
Include/
Lib/

share/
pyvenv.cfg
__pycache__\

# API Key for PDF-Analyzer
/Generative-AI/PDF-Analyzer/config.py

# Name of my Virtual environment
aiml

# Others extension files or caches
*.ini
.ipynb_checkpoints/

# Necessory files
kaggle.json

# Ignore macOS system files
.DS_Store
