# Virtual environment files
*/venv/
venv/
etc/
Include/
Lib/

share/
pyvenv.cfg
__pycache__\

# API Key for PDF-Analyzer
/Generative-AI/PDF-Analyzer/config.py

# Name of my Virtual environment
aiml

# Others extension files or caches
*.ini
.ipynb_checkpoints/

# Necessory files
kaggle.json

# Ignore macOS system files
.DS_Store

#For the Currency converter project of SSoC S4
Beginner_Projects/Currency-Converter-with toggletheme/.env
Beginner_Projects/Currency-Converter-with toggletheme/venv/
#(also some general python ignorances)
__pycache__/
*.pyc