# Virtual environment files
*/venv/
venv/
etc/
Include/
Lib/
Scripts/
share/
pyvenv.cfg
__pycache__\

# Name of my Virtual environment
aiml

# Others extension files or caches
*.ini
.ipynb_checkpoints/

# Necessory files
kaggle.json