.app-container {
    position: fixed;
    width: 100%;
    height: 100%;
}

.chat-input {
    padding-top: 20px;
    width: calc(100% - 48px);
}

.user {
    background-color: #bbeeff;
}

.chatbot {
    background-color: #e8eaf6;
}

.chat-footer-container {
    position: fixed;
    bottom: 25px;
    left: 25px;
    right: 25px;
    display: flex;
    align-items: center;
}

.chat-container {
    overflow: auto;
    position: fixed;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 120px;
}

.chat-message {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-details {
    flex: 1;
    align-self: center;
}

.username {
    font-weight: bold;
    color: #333;
}

.message-content {
    margin: 5px 0;
    color: #666;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.message {
    text-align: center;
    color: #333;
    padding: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.loading {
    font-size: 30px;
    animation: fadeIn 1s ease-in-out infinite;
}