PyQt5==5.15.10
pdf2image==1.17.0
Pillow==10.4.0
PyMuPDF==1.24.3
easyocr==1.7.1              # OCR front-end
torch==2.3.0                # EasyOCR back-end
torchvision==0.18.0
opencv-python==4.10.0.82
numpy==1.26.4