name: Detect and Update Repo Structure

on:
  schedule:
    - cron: '0 * * * *'  # Run every hour
  workflow_dispatch:  # Allow manual triggering

jobs:
  detect-and-update:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install PyGithub

    - name: Detect and update repo structure
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        python .github/scripts/update_structure.py

    - name: Commit and push if changed
      run: |
        git config --local user.email "115717039+yashksaini-coder@users.noreply.github.com"
        git config --local user.name "yashksaini-coder"
        git add repo_structure.txt README.md
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update repo structure" && git push)